In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Columns label in details 
* MATCH_DATE = The date when the match was played.
* LEAGUE_NAME =The name of the league in which the match was played.
* SEASON = The season(year) during which the match was played.
* LEAGUE = The abbreviation of the league name.
* FINISHED = A boolean indicating whether the match was finished or not.
* LOCATION = The location where the match was played.
* VIEWER = The number of viewers who watched the match.
* MATCHDAY_NR = The matchday number within the season as int
* MATCHDAY =The matchday number within the season as string.
* HOME_TEAM_ID = The unique identifier of the home team.
* HOME_TEAM_NAME =The name of the home team.
* HOME_ICON = The icon of the home team as url.
* AWAY_TEAM_ID =The unique identifier of the away team.
* AWAY_TEAM_NAME = The name of the away team.
* AWAY_TEAM =The abbreviation of the away team name.
* AWAY_ICON = The icon of the away team as url.
* GOALS_HOME = The number of goals scored by the home team.
* GOALS_AWAY = The number of goals scored by the away team.
* DRAW = A boolean (0 or 1) indicating whether the match ended in a draw or not.
* WIN_HOME =A boolean (0 or 1) indicating whether the home team won the match or not.
* WIN_AWAY =A boolean (0 or 1) indicating whether the away team won the match or not.

In [7]:
# import my data
data=pd.read_csv('data/bulidata.csv')
data.tail()

,Unnamed: 0,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,...,HOME_ICON,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,AWAY_ICON,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
5503,5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Köln,NaN,34. Spieltag,34,...,https://upload.wikimedia.org/wikipedia/en/thum...,40,FC Bayern München,Bayern,https://i.imgur.com/jJEsJrj.png,1,2,0.0,0.0,1.0
5504,5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Leipzig,NaN,34. Spieltag,34,...,https://i.imgur.com/Rpwsjz1.png,9,FC Schalke 04,Schalke,https://upload.wikimedia.org/wikipedia/commons...,4,2,0.0,1.0,0.0
5505,5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,...,https://i.imgur.com/v0tkpNx.png,175,TSG 1899 Hoffenheim,Hoffenheim,https://i.imgur.com/gF0PfEl.png,1,1,1.0,0.0,0.0
5506,5508,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,...,https://assets.dfb.de/uploads/000/018/232/smal...,134,Werder Bremen,Bremen,https://upload.wikimedia.org/wikipedia/commons...,1,0,0.0,1.0,0.0
5507,5509,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,...,https://i.imgur.com/ucqKV4B.png,54,Hertha BSC,Hertha,https://i.imgur.com/apFwbYZ.png,1,2,0.0,0.0,1.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5508 entries, 0 to 5507
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5508 non-null   int64
 1   MATCH_DATE      5508 non-null   object
 2   LEAGUE_NAME     5508 non-null   object
 3   SEASON          5508 non-null   int64
 4   LEAGUE          5508 non-null   object
 5   FINISHED        5508 non-null   bool
 6   LOCATION        5508 non-null   object
 7   VIEWER          1682 non-null   float64
 8   MATCHDAY        5508 non-null   object
 9   MATCHDAY_NR     5508 non-null   int64
 10  HOME_TEAM_ID    5508 non-null   int64
 11  HOME_TEAM_NAME  5508 non-null   object
 12  HOME_TEAM       5508 non-null   object
 13  HOME_ICON       5508 non-null   object
 14  AWAY_TEAM_ID    5508 non-null   int64
 15  AWAY_TEAM_NAME  5508 non-null   object
 16  AWAY_TEAM       5474 non-null   object
 17  AWAY_ICON       5508 non-null   object
 18  GOALS_HOME      5508 non-null   int64
 19  GOALS_AWAY      5508 non-null   int64
 20  DRAW            5508 non-null   float64
 21  WIN_HOME        5508 non-null   float64
 22  WIN_AWAY        5508 non-null   float64
dtypes: bool(1), float64(4), int64(7), object(11)
memory usage: 952.2+ KB

In [8]:
data['LEAGUE'].unique()

array(['bl1'], dtype=object)

In [9]:
data.isna().sum()

Unnamed: 0           0
MATCH_DATE           0
LEAGUE_NAME          0
SEASON               0
LEAGUE               0
FINISHED             0
LOCATION             0
VIEWER            3826
MATCHDAY             0
MATCHDAY_NR          0
HOME_TEAM_ID         0
HOME_TEAM_NAME       0
HOME_TEAM            0
HOME_ICON            0
AWAY_TEAM_ID         0
AWAY_TEAM_NAME       0
AWAY_TEAM           34
AWAY_ICON            0
GOALS_HOME           0
GOALS_AWAY           0
DRAW                 0
WIN_HOME             0
WIN_AWAY             0
dtype: int64

In [11]:
data_2=pd.read_csv('data/D2.csv')
data_2

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D2,15/07/2022,19:30,Kaiserslautern,Hannover,2,1,H,1,0,...,1.94,0.00,1.75,2.13,1.77,2.11,1.83,2.16,1.79,2.06
1,D2,16/07/2022,12:00,Greuther Furth,Holstein Kiel,2,2,D,0,1,...,2.08,-0.25,1.85,2.00,1.86,1.99,1.94,2.07,1.87,1.97
2,D2,16/07/2022,12:00,Regensburg,Darmstadt,2,0,H,1,0,...,2.31,0.25,2.02,1.83,2.05,1.81,2.10,1.86,2.05,1.79
3,D2,16/07/2022,12:00,Sandhausen,Bielefeld,2,1,H,1,0,...,1.85,0.00,1.90,1.95,1.87,1.98,2.08,1.98,1.98,1.86
4,D2,16/07/2022,12:00,St Pauli,Nurnberg,3,2,H,3,0,...,2.12,0.00,1.95,1.90,1.91,1.94,1.99,2.12,1.87,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D2,28/05/2023,14:30,Magdeburg,Bielefeld,4,0,H,2,0,...,3.35,0.50,1.90,1.95,1.92,1.99,1.95,2.02,1.86,1.95
302,D2,28/05/2023,14:30,Paderborn,Nurnberg,0,1,A,0,1,...,2.63,-0.50,1.90,1.95,1.92,1.99,1.95,2.11,1.82,2.00
303,D2,28/05/2023,14:30,Regensburg,Heidenheim,2,3,A,0,0,...,2.25,1.00,1.82,2.02,1.87,2.04,2.01,2.04,1.90,1.93
304,D2,28/05/2023,14:30,Sandhausen,Hamburg,0,1,A,0,1,...,3.28,1.50,2.05,1.80,1.98,1.93,2.17,1.93,2.01,1.82
305,D2,28/05/2023,14:30,St Pauli,Karlsruhe,1,1,D,0,1,...,2.90,-1.00,1.90,1.95,1.94,1.96,2.00,1.96,1.91,1.90